.form {
	
    &__group {
        margin: 0 0 30px;
		
        @media (min-width: $screen-lg) {
            margin: 0 0 50px;
        }
    }

    &__group-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -10px;
        
        @media (min-width: $screen-md) {
            justify-content: flex-start;
        }
    }

    &__item {
        min-height: 157px;
        padding: 10px;
        width: 242px;

        &--xl {
            height: 353px;
            
            @media (min-width: $screen-md) {
                height: 373px;
            }
        }

        &--lg {
            min-height: 263px;
        }
        
        &--md {
            min-height: 244px;
        }

        &--sm {
            min-height: 218px;

            @media (min-width: $screen-md) {
                min-height: 238px;
            }
        }

        &--w100 {
            height: 249px;
            padding: 0;
            width: 100%;
        
            @media (min-width: $screen-md) {
                height: 177px;
            }
        }

        &--w50 {
            width: 100%;

            @media (min-width: $screen-lg) {
                width: 50%;
            }
        }
    }
}