.form.calculator__form
	.calculator__form-content-wrapper
		.form__group
			.form__group-title
			|
			|
			.form__group-items
				- for (var i = 0; i < 5; i++) {

					case i
						when 0
							.form__item.form__item--xl
								include ../form-item/form-item.pug
						when 1
							.form__item.form__item--lg
								include ../form-item/form-item.pug
						when 2
							.form__item.form__item--md
								include ../form-item/form-item.pug
						default
							.form__item.form__item--sm
								include ../form-item/form-item.pug
				- }

		.form__group
			.form__group-title
			|
			|
			.form__item.form__item--w100
				include ../form-item/form-item.pug

		.form__group
			.form__group-title
			|
			|
			.form__group-items
				- for (var i = 0; i < 5; i++) {
					.form__item.form__item--w50
						include ../form-item/form-item.pug
				- }

		.form__group
			.form__group-title
			|
			|
			.form__item.form__item--w100
				include ../form-item/form-item.pug

	.calculator__form-sidebar-wrapper
		include ../sidebar/sidebar.pug